In [1]:
import pandas as pd

In [9]:
initial_data = pd.read_csv('labelled_ShapeOfYou.csv',encoding='utf8');

In [10]:
initial_data.head()

,Author,Comment,Polarity
0,Don Gillies,Nothing better than being young and in love. ...,1.0
1,Dogeball,this song. . .,0.0
2,Varifiable Jelly,5 years and it ain t stopped. Dang,0.0
3,0,there is literally nobody in this world who do...,0.0
4,Nirmala Gowda,Me I 39,0.0

In [12]:
initial_data.shape

(16333, 3)

In [13]:
#make new dataframe for utilizing
df = initial_data[['Author','Comment']].copy()
df.head()

             Author                                            Comment
0       Don Gillies  Nothing better than being young and in love.  ...
1          Dogeball                                     this song. . .
2  Varifiable Jelly                 5 years and it ain t stopped. Dang
3                 0  there is literally nobody in this world who do...
4     Nirmala Gowda                                           Me I  39

In [17]:
#convert comments to lower case
for i in range(len(df)):
    df['Comment'][i] = str(df['Comment'][i]).lower()

In [21]:
from nltk.tokenize import sent_tokenize,word_tokenize

import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/rohan/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [23]:
#sentence tokenizing
sent_tok = [ sent_tokenize(str(sent)) for sent in df['Comment']]

In [24]:
#word tokenizing
word_tok = [ word_tokenize(str(sent)) for sent in df['Comment']]

In [28]:
import re

In [39]:
#removing special characters
clean_word = []
for words in word_tok:
    clean = []
    for w in words:
        res =re.sub(r'[^\w\s]',"",w)
        if res != "":
            clean.append(res)
    clean_word.append(clean)

In [41]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/rohan/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [42]:
from nltk.corpus import stopwords

In [47]:
#removing stop words
no_stopwords = []
for words in clean_word:
    w=[]
    for word in words:
        if not word in stopwords.words('english'):
            w.append(word)
    no_stopwords.append(w)

In [59]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /home/rohan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/rohan/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

In [60]:
from nltk.stem import WordNetLemmatizer 
port = WordNetLemmatizer()

In [61]:
#lemmatizing
lemmatized_words =[]
for words in no_stopwords:
    w=[]
    for word in words:
        a = port.lemmatize(word)
        w.append(a)
    lemmatized_words.append(w)